{% extends "shell.html" %}

{% block content %}

<p id="header">ABOUT ME</p>
<IMG src="/static/canham-amy_thumb.JPG" alt="Amy Canham" width="100" style="float:left;margin-right:5px;" border="1"/>
I love people and technology and thinking about all the fascinating ways in which they impact each other.  My background is in medical electronics and digital signal processing and I've spent the past several years visiting rural communities across three continents to understand how people interact with medial technology.  Starting at Camera Culture in September '12, I will be working on health imaging for social impact.  You can find me in E14-474B - stop by and say hello!
<BR><BR>Chances are I'll be completely nocturnal by October.  But if I'm not hovering in front of a screen in E14, you can find me dancing my socks off at 
<a href="http://www.brooklineballet.com">the studio</a> or getting inspired at 
<a href="http://www.artisansasylum.com">the asylum</a>.
<BR><BR>Friends@MIT
<BR><a href="http://www.mit.edu/~austinc">Austin Collins</a>

{% endblock %}