{% extends "shell.html" %}

{% block content %}

<p id="header">NEWS</p>
[02 Nov 2012]<BR>
<a href="MAS531\HW3\HW3.html">HW3: HCI has been posted, featuring Dan's Hands!</a><BR><BR>
[26 Oct 2012]<BR>
<a href="MASS60\schrodingers_cat_box.html">We're working on a fun project in the fab section of MAS.S60!  Check it out!</a><BR><BR>
[13 Oct 2012]<BR>
<a href="MAS531\HW2\HW2.html">The second homework for MAS.531 has been posted!  Light fields all over the place!</a><BR><BR>
[21 Sep 2012]<BR>
<a href="MAS531\HW1\HW1.html">The first entry in my Projects section has been updated:  HW1 Color Swap, from Ramesh Raskar's Computational Camera and Photography class.</a><BR><BR>
[28 Aug 2012]<BR>
Welcome!  I'll be editing this site gradually over the next several weeks as I'm starting my MS at the Camera Culture group with Ramesh Raskar at the Media Lab.  Stop by and say hello at E14-474B!  

{% endblock %}