{% extends "shell.html" %}

{% block content %}
<p id="header">RETINAL IMAGING</p>
<a href="Research/retina.html">Low-cost, portable retinal imaging imaging technology for India</a><BR>
<p id="header">MAS.531</p>
Fall 2012 | Computational Camera and Photography<BR><BR>
<a href="MAS531/HW1/HW1.html">HW1: Color Swap</a><BR>
<a href="MAS531/HW2/HW2.html">HW2: Light Fields</a><BR>
<a href="MAS531/HW3/HW3.html">HW3: HCI</a><BR>
HW4: <BR>
<p id="header">MAS.S60</p>
Fall 2012 | Hands On Foundations<BR><BR>
<a href="MASS60/schrodingers_cat_box.html">Schrodinger's Cat Box</a><BR>

{% endblock %}